ul#adminmenu li#toplevel_page_ultimatemember a.wp-has-current-submenu:after {
  display: none !important; }

ul#adminmenu li#toplevel_page_ultimatemember.wp-has-submenu.wp-not-current-submenu:hover:after {
  right: -9999999px; }

ul#adminmenu > li#toplevel_page_ultimatemember.current > a.current:after {
  display: none !important; }

.wams-admin-notice {
  border-color: #0085ba;
  color: #555; }
  .wams-admin-notice.error {
    border-color: #dc3232; }
  .wams-admin-notice.notice-warning {
    border-color: #dba617; }
  .wams-admin-notice a {
    text-decoration: none;
    color: #0085ba; }
    .wams-admin-notice a:hover {
      color: #44b0ec; }
    .wams-admin-notice a.button-primary {
      background-color: #0085ba;
      border-color: #0085ba; }
      .wams-admin-notice a.button-primary:hover {
        background-color: #008ec2;
        border-color: #008ec2; }
    .wams-admin-notice a.button-secondary {
      opacity: 0.7; }
      .wams-admin-notice a.button-secondary:hover {
        opacity: 0.9; }

/* UM Tooltip ( future helptip ) */
.um .ui-tooltip.wams_tooltip {
  padding: 8px;
  color: #eee !important;
  background: rgba(0, 0, 0, 0.85) !important;
  position: absolute;
  z-index: 10002;
  max-width: 300px;
  font-size: 12px;
  border-radius: 5px;
  border: none !important;
  text-shadow: none !important; }

.wams_tooltip {
  cursor: pointer;
  vertical-align: middle; }
  .wams_tooltip:hover {
    opacity: 1; }
    .wams_tooltip:hover:before {
      opacity: 0.8; }
  .wams_tooltip.dashicons, .wams_tooltip.dashicons:before {
    height: 22px; }
  .wams_tooltip.dashicons-editor-help:before {
    float: left;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.85) !important; }
